@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

p{
   font-size: 1.5em;
   line-height: 1.55;
}

h3{
   font-size: 1.9em;
}

.table{
  font-size: 1.4em;
}

li{
  font-size: 1.5em;
}

.fs-em{
    color:#af2b03;
    font-variant: small-caps;
}

.fs-title{
    color:#af2b03;
    font-weight: bold;
}

.fs-intro{
    color:#787878;
    font-weight: bold;
}

.fs-faq{
    font-weight: bold;
}

.fs-btn{
    font-size:20px;
}

pre {
    text-align: left;
    white-space: pre-line;
}

.footer {
  background-color: #eee;
  padding: 15px;
}

.question {
    padding-top: 18px;
    font-size: 1.6em;
	font-weight: bold;
}

.answer {
	text-indent: 18px;
}

.answer-chevron {
    color:#af2b03;
}

.institute-link {
    color:gray;
}

.double_col {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 0; 
	grid-row-gap: 0;
	grid-column-gap: 2em;
}

.double_col div:nth-of-type(1) {
	order: 1;
}
.double_col div:nth-of-type(2) {
	order: 3;
}
.double_col div:nth-of-type(3) {
	order: 5;
}
.double_col div:nth-of-type(4) {
	order: 2;
}
.double_col div:nth-of-type(5) {
	order: 4;
}
.double_col div:nth-of-type(6) {
	order: 6;
}

@media (max-width: 1000px) {
	.double_col {
		grid-template-columns: 1fr;
	}

	.double_col div:nth-of-type(1) {
		order: 1;
	}
	.double_col div:nth-of-type(2) {
		order: 2;
	}
	.double_col div:nth-of-type(3) {
		order: 3;
	}
	.double_col div:nth-of-type(4) {
		order: 4;
	}
	.double_col div:nth-of-type(5) {
		order: 5;
	}
	.double_col div:nth-of-type(6) {
		order: 6;
	}
}

.double_col div {
	text-align: justify;
}

.mid-btn {
	background-color:#af2b03;
	color:#f0f0f0;
}

.mywell {
    background-color: #f0f0f0;
     border: 1px solid #e3e3e3;
     border-radius: 4px; 
}

.youtubevid {
	max-width: 100%;
}
